*~
*.lnk
*.ini
*.d
*.swp
backup/
build/
dist/
debug/
Gitignore/
SpeachNote/
temp/
work/
WorkLog/
*.obj
*.xcf
*.*bak
*.kicad_mod
_autosave*.kicad*
*.zip
*.gsheet
■メモ.TXT
メモ.txt
めも.txt
.*不要.*
.*不具合.*


